
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      >


    <head>
        <meta http-equiv="Content-Type" content="application/html; charset=UTF-8" />
        <link href="./Style/ReportGenStyles.css" rel="stylesheet" type="text/css"/>
        <link rel="shortcut icon" th:href="@{Images/favico.ico}" />
        <link href="./Style/Headers.css" rel="stylesheet" type="text/css"/>
        <ui:include src="./Layouts/title.html"/>

    </head>   
    <body>
        <f:view contentType="application/html" >

            <!--++++++++++ HEADER 1 ++++++++-->
            <div id="header1">
                <ui:insert name="header1" >
                    <ui:include src="Layouts/header1.html"/>
                </ui:insert>
            </div>
            <!--++++++++++++++++++++++++++++-->
            <br />
            <div id="mainContainer">
                <div class="Sep"> </div>
                <br/>

                <div id="dvPageTitle">Bem-vindo</div>

                <h:messages style="color: blue" showDetail="true"/>

                <div style="height: 400px">
                    <br />
                    <strong>&nbsp;&nbsp;A aplicação disponibiliza dois processos:
                        <br/><br/>
                        &nbsp;&nbsp;&nbsp;&nbsp; - Validação de relatórios Corep e Finrep de acordo com o Validation Formulae, e geração dos relatórios em formato XBRL para submissão ao Banco de Portugal;
                        <br/><br/>
                        &nbsp;&nbsp;&nbsp;&nbsp; - Validação dos Controlos de Consistência de Nível II Locais;</strong>
                    <!-- Informacao a utilizar com tab Espanha visivel
                    <strong>&nbsp;&nbsp;A aplicação disponibiliza um processo de validação:
                        <br/>
                        <br/>
                        - Reporting  (EBA) dos relatórios Corep e Finrep de acordo com o Validation Formulae, e a geração dos relatórios em formato XBRL para submissão ao Banco de Portugal;
                        <br/>
                        - Reporting Espanha de acordo com os Controlos de Nível I e Nível II;</strong>
                    -->
                    <br/><br/>
                </div>

            </div>

            <!--++++++++++++ FOOTER +++++++++++-->
            <div id="footer"></div>
            <!--++++++++++++++++++++++++++++-->

            <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
            <script type="text/javascript" src="http://arrow.scrolltotop.com/arrow88.js"></script>

            <script>
                fetch('Layouts/footer.html')
                .then(response => response.text())
                .then(data => {
                    document.getElementById('footer').innerHTML = data;
                })
                .catch(err=> console.error('Erro'));
            </script>
            
        </f:view>
    </body>

</html>
