.upload-area {
  height: 200px;
  margin: 0 auto;
  padding: 20px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  text-align: center;
  background-color: #f9f9f9;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  box-sizing: border-box;
  font-family: 'Muli';
}

.upload-hidden-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
  font-family: 'Muli';
}


.upload-area:hover {
  background-color: #eef6fa;
}

.upload-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 12px;
  object-fit: contain;
}

.upload-text {
  font-size: 16px;
  color: #333;
  text-align: center;
  max-width: 90%;
  word-wrap: break-word;
  font-family: 'Muli';
}

.loading-text {
  font-size: 16px;
  color: #333;
  font-family: 'Muli';
}

.loading-gif {
  width: 30px;
}

.loading-container {
  display: none; 
  align-items: center;
  gap: 8px;
}


.upload-link {
  color: blue;
  text-decoration: underline;
  font-family: 'Muli';
}

.upload-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  font-family: 'Muli';
}

#logContainer
{
  display: none;
}

.table-wrapper {
  margin: 0 auto;
  border: none;
  max-height: max-content;
  position: sticky;
}

.fixed-header-table {
  border-spacing: 0 10px; 
  border-collapse: separate;
  width: 100%;
  background-color: transparent;
  table-layout: fixed;
}

.fixed-header-table th,
.fixed-header-table td {
  background-color: #f1f1f1; 
  padding: 12px;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05); 
}

th.mainTableHeader {
  background-color: #033d51; 
  color: white;
  
}

th.mainTableHeaderFirst {
  background-color: #033d51; 
  color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

th.mainTableHeaderLast {
  background-color: #033d51; 
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

td.firstItemDetails {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

td.lastItemDetails {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

th.firstItemDetails {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

th.lastItemDetails {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

td.first-cell {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

td.ioCell {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

td.last-cell {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.validationTable
{
  table-layout: fixed;
  width: 100%;
  border-spacing: 0 3px;
  border-collapse: separate;
}

.validationTable th,
.validationTable td {
  width: 16.66%; 
  overflow: hidden;
  text-overflow: ellipsis;
}

#filterDiv{
  background-color: #033d51;
  color: white;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  margin-right: unset;
  margin-left: unset;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 10px;
  padding-top: 10px;
}

.confirmLicenseButton
{
  float: right;
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.detailsTable
{
  max-height: 240px;      
  overflow-y: auto;       
  overflow-x: auto;       
  margin-top: 10px;
}

.progress {
    height: 12px;
}
